# Build files
*.o
*.out
*.exe

# Logs
*.log

# IDE files
.vscode/
.idea/

# Build directories
build/
bin/

# Linux temporary files
*~

# Executables
stream
server
client
server_app
client_app
mpi_stream
multi_des
