# Build files
*.o
*.out
*.exe
*.a
*.so

# Logs
*.log

# IDE files
.vscode/
.idea/

# Build directories
build/
bin/

# Linux temporary files
*~
*.swp
*.swo

# Executables
/src/hybrid/hybrid
stream
server
client
server_app
client_app
mpi_stream
multi_des
